[default]
url: https://xxx.xy/geco/admvplan
path: tmp
api: xxxxxxx
intervall: 5
utf8: True

[siteauth]
enable: False
username: flsadmin
password: na

[options]
delUpFile: True
backupFiles: False
; below watch path...
backupFolder: False
createCoreDump: True
debugOnline: False
guessOriginalLesson: False

[proxy]
enable: False
phost: 0.0.0.0
pport: 80

[vplan]
; type can be "daVinci"
type: daVinci
; version can be "5" or "6"
version: 6
; colsep can be "\t", ";", ","
colsep: ; 
; export can be "standin", "changes"
export: standin
; cancelled defines whether the cancelled file is enabled. 
cancelled: False
txtReplaceFree = frei
txtMoved = verschoben auf {0}, {2:02d}.{3:02d}. {1} Std.
txtMovedInfo = anstatt
txtMovedNote = anstatt {0}, {2:02d}.{3:02d}. {1} Std.
rmvInfos = Raumänderung;Geändert

[changetype]
classFree = "Klasse frei"
roomChange = "Raumänderung"
yarddutyChange = "Aufsichtsänderung"
; in the normal desktop variant, it is "Geändert", in terminal: "Änderung"
changes = "Änderung"

[changekind]
; this category is a very, very different one...
; classFree for FLS e.g. "Klasse frei" and GKS: "Klasse fehlt"
classAbsent = Klasse fehlt
classFree = entfällt
moved = "verschoben"
movedFrom = ^Von ([0-9]{1,2}\.[0-9]{1,2}\.) ([a-zA-Z]{2}) ([0-9]{1,2})(-([0-9]{1,2}))? verschoben$
movedTo = ^Auf ([0-9]{1,2}\.[0-9]{1,2}\.) ([a-zA-Z]{2}) ([0-9]{1,2})(-([0-9]{1,2}))? verschoben$

[fields]
date: 0
day: 1
pos: 2
time: 3
type: 5
kind: 6
block: 7
class: 9
standin: 10
teacher: 11
room: 12
subject: 13
info: 16
note: 17
comment: 18
status: 22
modtime: 23
moduser: 24
posEnd: 2
